@import "../../index"

#add-post-modal
    .card
        display: flex
        flex-direction: column
        .form
            input
                width: 100%
            textarea
                min-height: 10em
