@import "./index"

h1

h3

// -- Button -- //
.button
    position: relative
    color: $grey3
    background-color: $dark1
    width: fit-content
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 0.75em 2em
    font-size: 1.1em
    border-radius: 0.25em
    transition: all 0.4s ease
    border: 3px solid $dark1
    svg
        font-size: 1.2em
        margin-right: 0.75em
    &:hover
        transform: scale(1.05)
        cursor: pointer

//Button alt (Transparent)
.alt
    background-color: transparent
    color: $grey3
    border-color: $grey3

// -- Modal -- //
.modal
    position: fixed
    top: 0
    left: 0
    z-index: 99999
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.5)
    display: flex
    align-items: center
    justify-content: center
    .card
        background-color: #fff
        padding: 2em
        border-radius: 0.5em
        position: relative
        width: 90%
        min-width: 30em
        max-width: 45em
        padding-top: 4em
        .button
            margin-top: 1em
            width: 100%
            justify-content: center
            .text
                margin-top: 0
        .close-button
            position: absolute
            display: flex
            align-items: center
            justify-content: center
            top: 0em
            right: 2em
            font-size: 1em
            cursor: pointer
            background-color: #000
            border-radius: 0 0 0.25em 0.25em
            svg
                color: $grey3
                font-size: 3em
        .title
            font-size: 1.6em
            font-weight: 600
            padding-bottom: 0.25em
            border-bottom: 2px solid $grey2
        .text
            margin-top: 1em
            font-size: 1.1em
            line-height: 1.2em