//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;900&display=swap')

//Colors
$dark1: #111111
$dark2: #222222
$dark3: #363636
$grey1: #a8a8a8
$grey2: #cacaca
$grey3: #f1f6f9

$blue1: #14274e
$blue2: #394867
$blue3: #7b8cad
$blue4: #EEF2FC

//Global Styles
.container
    width: 90%
    max-width: 20em
.small
