//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;900&display=swap')

//Colors
$dark1: #111111
$dark2: #222222
$dark3: #363636
$grey1: #a8a8a8
$grey2: #cacaca
$grey3: #f1f6f9

$red: #fc5c65
$redB: #ffe4e5

*,*::after,*::before
    font-family: "Poppins", sans-serif
    box-sizing: border-box

body
    background-color: $dark1

//Global Styles

// -- Modal -- //
.modal
    position: fixed
    top: 0
    left: 0
    z-index: 99999
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.5)
    display: flex
    align-items: center
    justify-content: center
    .card
        background-color: #fff
        padding: 2em
        border-radius: 0.5em
        position: relative
        width: 90%
        min-width: 30em
        max-width: 45em
        .button
            margin-top: 1em
            width: 100%
            justify-content: center
            .text
                margin-top: 0
        .close-button
            position: absolute
            display: flex
            align-items: center
            justify-content: center
            top: 0em
            right: 2em
            font-size: 1em
            cursor: pointer
            background-color: #000
            border-radius: 0 0 0.25em 0.25em
            svg
                color: $grey3
                font-size: 3em
        .title
            font-size: 1.6em
            font-weight: 600
            padding-bottom: 0.25em
            border-bottom: 2px solid $grey2
        .text
            margin-top: 1em
            font-size: 1.1em
            line-height: 1.2em

// -- Section
.section
    width: 100%

// -- Container
.container
    width: 90vw
    max-width: 110em
    margin: 0 auto
    .section-title
        margin: 0
        font-size: 2em
        width: 100%
        margin-bottom: 1em
        border-bottom: 2px solid #dddddd
        @media screen and ( max-width: 768px )
            margin-bottom: 0.5em
    @media screen and ( max-width: 768px )
        width: 85vw
// -- Container Variant
.small
    width: 80vw
    max-width: 100em

//Input, TextArea
input,
textarea
    padding: 1em 1.5em
    outline: none
    border: none
    background-color: $grey3
    border-radius: 0.25em
    width: 100%
    margin-top: 1em
    font-size: 1.2em

//Scrollbar
::-webkit-scrollbar
    width: 20px
    background: $dark1

::-webkit-scrollbar-track

::-webkit-scrollbar-thumb
    background: $dark3
