@import "../index"

#navbar
    position: absolute
    top: 1em
    left: 0
    z-index: 1000
    .container
        .buttons
            display: flex
            .button
                margin-right: 0.5em
            .dropdown
                position: relative
                .drop-items
                    position: absolute
                    display: flex
                    align-items: center
                    justify-content: center
                    flex-direction: column
                    background-color: #000
                    border-radius: 0.5em
                    margin-top: 0.5em
                    width: 100%
                    .button
                        font-size: 1em
                        width: 100%
                        margin-top: 0.25em
                        margin-right: 0
                        &:first-child
                            margin-top: 0
